# Java / Maven
**/target/
**/*.log

# Maven Wrapper
**/.mvn/
**/mvnw
**/mvnw.cmd

# IDEs
**/.idea/
**/*.iml
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Docker y base de datos
docker/*
docker/db/*.tmp
!docker/db/
!docker/db/init.sql
.env
**/*.db  # Ignora archivos binarios como .sqlite o .mv.db, pero no los SQL

# Permitir SQL si son dumps o scripts de schema
!**/*.sql

# Logs y cachés
*.out
*.bak
*.swp
*.tmp
*.swo
